Web7Dop4_1/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tariffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TariffBonus" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="costTariff"/>
              <xs:element type="xs:short" name="costMinuteInNet"/>
              <xs:element type="xs:short" name="costSms"/>
              <xs:element type="xs:short" name="costMegabyte"/>
              <xs:element type="xs:string" name="species"/>
              <xs:element type="xs:short" name="packageInternet"/>
              <xs:element type="xs:byte" name="packageMinute"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>